/* Base do Layout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7fa;
  color: #555;
  line-height: 1.6;
  padding: 0 20px;
}

/* Área de Conteúdo Principal */
#root {
  max-width: 1200px;
  margin: 50px auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

/*Organizaçao dos botoes para nao interferir na interface de login - Stephany*/
.enderecos-button, .profissionais-button{
  background-color: #89c2d9;
  /* Azul claro */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #76a9c3;
  /* Azul mais escuro ao passar o mouse */
}

button:focus {
  outline: none;
}

/* Links */
a {
  color: #5f4b8b;
  /* Lavanda para links */
  text-decoration: none;
}
h1{
  color: #5f4b8b;
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  margin-top: 30px;
  font-size: 0.9rem;
  color: #888;
}

footer a {
  color: #89c2d9;
  /* Azul claro para links no rodapé */
}

footer a:hover {
  text-decoration: underline;
}

/* Media Query para Telas Menores */
@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  #root {
    padding: 20px;
  }

  img {
    width: 100%;
    /* Garante que as imagens ocupem toda a largura disponível em telas pequenas */
    height: auto;
    /* Mantém a proporção das imagens */
  }

  header .nav-table {
    flex-direction: column;
    padding: 20px 0;
    gap: 20px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
    /* Ajuste do tamanho do título para telas menores */
  }

  h2 {
    font-size: 1.5rem;
    /* Ajuste do tamanho do título para telas menores */
  }

  h3 {
    font-size: 1.1rem;
    /* Ajuste do tamanho do título para telas menores */
  }

  button {
    padding: 8px 16px;
    /* Ajuste do botão para telas menores */
  }

  input[type="text"],
  input[type="email"],
  textarea {
    font-size: 0.9rem;
    /* Ajuste do tamanho da fonte dos campos de entrada para telas menores */
  }
}

/*Posição central do container de Login - Stephany*/
.login-position{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}